*{
	margin:0;
	padding:0;
}
#map{
	width:100%;
	height:86vh;
}
button{
	margin:15px auto;
	padding:10px 15px;
	color:white;
	background-color: #faae27;
	border:0;
	font-weight:700;
	border-radius:2px;
	font-family: "Raleway";
	font-size:15px;
	display:block;
}
button:hover,button:focus{
	outline:0;
}
.map-footer{
	background-color: orange;
	width: 100%;
	height: 50px;
}
input{
	margin-bottom: 50px;
	width: 30%;
	height: 30px;
	display: flex;
	align-items: row;
	flex-direction: space-between; 
}
/**/
